@tailwind base;
@tailwind components;
@tailwind utilities;

/** Next Themes Config - Started **/
:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

/** Next Themes Config - Ended **/

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
}
